repos:
  - repo: local
    hooks:
      # fix Chinese and English
      - id: autocorrect-docker
        name: autocorrect-docker
        entry: --entrypoint autocorrect nixery.dev/shell/autocorrect
        files: ^notes/.*\.md$
        # args: ["--fix"]
        language: docker_image
      - id: normalize-yaml
        name: Normalize YAML front matter
        entry: uv run scripts/normalize_yaml.py
        language: system
        files: ^notes/.*\.md$
      - id: generate-notes-index
        name: Generate notes index
        entry: uv run scripts/generate_notes_index.py
        language: system
        pass_filenames: false
        files: ^notes/.*\.md$
      - id: lychee-docker
        name: lychee-docker
        description: "Run 'lychee' docker image for fast, async, stream-based link checking (auto-installs)"
        entry: lycheeverse/lychee:0.22.0
        language: docker_image
        args: ["--no-progress", "--exclude-path", "assets"]
        files: ^notes/.*\.md$
        types: [text]
        pass_filenames: true
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/oxipng/oxipng
    rev: v10.0.0
    hooks:
      - id: oxipng
        files: ^assets/.+$
